.search-people {
  background-color: rgba(28,39,82,0.9);
  .search-layout {
    .search-header {
      text-align: center;
      color: $color-white;
      &__title {
        font-weight: 700;
        font-size: 30px;
      }
      &__desc {

      }
    }
    .search-content {
      display: flex;
      justify-content: center;
      margin-top: 40px;
      &-box {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-shrink: 0;
        max-width: 310px;
        width: 100%;
        margin-top: auto;
        padding: 10px 25px 15px;
        background-color: #fff;
        border-radius: 7px;
        box-shadow: 0 12px 30px 0 rgba(0,0,0,0.3);
        cursor: pointer;
        @media (min-width: 768px){
          flex-basis: 310px;
          height: auto;
          margin: 0;
          padding: 20px 24px 36px;
        }
        &.two {
          margin: 0 0 0 60px;
        }
        .icon {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-shrink: 0;
          width: 38px;
          height: 38px;
          margin-bottom: 10px;
          border-radius: 50%;
          box-shadow: 0 6px 16px 0 rgba(0,0,0,0.15);
          transition: box-shadow 0.2s;
          @media (min-width: 768px) {
            width: 64px;
            height: 64px;
            margin: 25px 0;
          }
        }
        .button {
          background-color: #4f8df9;
          color: #f5f9fd;
          box-sizing: border-box;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          padding: 0.875rem 24px;
          border: 0;
          border-radius: 3rem;
          font-family: Roboto, sans-serif;
          font-size: 0.875rem;
          font-weight: 500;
          line-height: 1.25rem;
          text-align: center;
          text-transform: uppercase;
          transition: transform 0.2s, background-color 0.2s, box-shadow 0.3s;
          will-change: transform, background-color, box-shadow;
          cursor: pointer;
          user-select: none;
          margin: 0;
          @media (min-width: 768px) {
            min-width: 193px;
          }
          &:hover {
            transform: translateY(-1px);
            box-shadow: 0 3px 12px 0 rgba(0,0,0,0.14);
            background-color: #3f70c7;
          }
        }
        .search-text {
          max-width: 100%;
          margin: 10px 0 0;
          color: #7a7a7a;
          font-size: 1rem;
          line-height: 1.5;
          text-align: center;
          @media (min-width: 768px) {
            margin-top: 25px;
          }
        }
        &:hover {
          .icon {
            box-shadow: 0 6px 20px 0 rgba(0,0,0,0.25);
          }
          .button {
            background-color: #3a84d6;
          }
        }
      }
      @media (max-width: 768px) {
        flex-wrap: wrap;
        &-box {
          max-width: 95%;
          margin-bottom: 20px;
          &.two {
            margin: 0;
          }
        }
      }
    }
  }
}
.modal-search {
   position: fixed;
   background-color: #fff;
   left: 0;
   top: 0;
   right: 0;
   bottom: 0;
  z-index: 9;
  .modal-cons {
    position: absolute;
    top: 59px;
    margin: 0 auto;
    left: 0;
    right: 0;
  }
  .modal-layout {
      position: relative;
      .modal-body {
        top: 12vh;
        position: relative;
        width: 750px;
        padding: 56px;
        border-radius: 4px;
        box-shadow: 0 2px 30px 0 rgba(85,101,117,0.1);
        border: solid 1px #ebf0f6;
        background-color: #fff;
        margin: 0 auto;
        .modal-flex {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
        .info {
          max-width: 318px;
          width: 100%;
          box-sizing: border-box;
          .title {
            font-size: 1.5rem;
            line-height: 1.125;
            font-weight: 500;
            margin-bottom: 20px;
          }
          .desc {
            padding-right: 20px;
          }
          .buttons {
            margin-top: 16px;
            a {
              width: 240px;
              margin-bottom: 10px;
              border: 1px solid #4f8df9;
              border-radius: 3px;
              background-color: #4f8df9;
              font-family: Roboto,sans-serif;
              font-size: 14px;
              font-weight: 500;
              line-height: 40px;
              color: #fff;
              text-align: left;
              padding: 5px 15px;
              display: block;
              i {
                margin-right: 10px;
              }
              &:hover {
                background-color: #3f70c7;
                border-color: #3f70c7;
                transition: .2s ease-in;
              }
              &:focus {
                background-color: #3f70c7;
                border-color: #3f70c7;
                transition: .2s ease-in;
              }
            }

          }
        }
        .form {
          width: 100%;
          .controls-input {
            margin-bottom: 20px;
          }
        }
        .start-search {
          text-align: right;
          margin: 0 auto;
          button {
            background-color: #ff8100;
            color: #fff;
            box-sizing: border-box;
            display: -ms-inline-flexbox;
            display: inline-flex;
            -ms-flex-pack: center;
            justify-content: center;
            -ms-flex-align: center;
            align-items: center;
            padding: 0.875rem 36px;
            border: 0;
            border-radius: 3rem;
            font-family: Roboto, sans-serif;
            font-size: 0.875rem;
            font-weight: 500;
            line-height: 1.25rem;
            text-align: center;
            text-transform: uppercase;
            transition: transform 0.2s, background-color 0.2s, box-shadow 0.3s;
            will-change: transform, background-color, box-shadow;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            box-shadow: 0 3px 12px 0 rgba(0,0,0,0.14);
            outline: none;
            &:hover {
              transform: translateY(-1px);
            }
          }
        }
      }
  }
 }
