.feature-box .icon-circle-bg, .feature-box .use-case-features-icon {
  padding: 0;
  width: 89px;
  height: 89px;
  background-color: transparent;
  border: 1px solid #bbbfc7;
  border-radius: 100%;
  margin-bottom: 15px;
}
.feature-box_description {
  margin-bottom: 10px;
}
.feature-box_link {
  color: #30333a;
  font-weight: 700;
}
.feature-box_link:after {
  content: '\2192';
  padding-left: 10px;
  font-size: 1.2em;
}
@media screen and (min-width: 40em) {
  .feature-box--animate-on-hover:hover, .feature-box--animate-on-hover:focus {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  .feature-box--animate-on-hover {
    transition: all .15s ease-in-out;
  }
  .feature-box--animate-on-hover:hover .icon-circle-bg, .feature-box--animate-on-hover:hover .use-case-features-icon, .feature-box--animate-on-hover:focus .icon-circle-bg, .feature-box--animate-on-hover:focus .use-case-features-icon {
    transition: all .155s ease-in-out;
    box-shadow: 0 0 17px 0 rgba(0,0,0,.12);
    background-color: #fefefe;
    border-color: #eee;
  }
}
