@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,800&display=swap');
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}
body {
  margin: 0;
  padding: 0;
  background: #fefefe;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #30333a;
}
p {
  color: #30333a;
  font-weight: 300;
  text-decoration: none;
}
a {
  text-decoration: none;
}
.column-block {
  margin-bottom: 1.875rem;
}
.column, .columns, .column:last-child:not(:first-child), .columns:last-child:not(:first-child) {
  float: left;
  clear: none;
}
.column-block>:last-child {
  margin-bottom: 0;
}
.column:last-child:not(:first-child), .columns:last-child:not(:first-child) {
  float: right;
}
.column, .columns {
  width: 100%;
  float: left;
  padding-right: .9375rem;
  padding-left: .9375rem;
}
@media screen and (min-width: 40em) {
  .img_wrap {
    height: 130px;
  }
}
.img_wrap {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  height: 80px;
  padding: 1rem 0;
  width: 20%;
}
img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
}
img {
  border-style: none;
}
.row {
  max-width: 62.5rem;
  margin-right: auto;
  margin-left: auto;
}
.row:after {
  clear: both;
}
.row:before, .row:after {
  display: table;
  content: ' ';
  flex-basis: 0;
  order: 1;
}
.row:not(.expanded) .row {
  max-width: none;
}
.home .bg-light, .page-product .bg-light, .neo_staff_archive .bg-light {
  background-color: #f1f6fa;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
section {
  padding: 40px 0;
}
@media screen and (min-width: 40em) {
  section.lg {
    padding: 60px 0;
  }
}
@media screen and (min-width: 64em) {
  section.lg {
    padding: 90px 0;
  }
}
.text-center, .developer>section h2 {
  text-align: center;
}
section header, section h2, section .subheader {
  margin-bottom: 1.5625rem;
}
section header, section h2 {
  color: #525865;
}
.home .section_title, .page-product .section_title, .neo_staff_archive .section_title {
  font-weight: 800;
  letter-spacing: -.5px;
  color: #525865;
  font-size: 34px;
}
section header h2 {
  margin-top: 0;
}
